.header-container{
     width: 100%;
     max-width: 1940px;
     margin: 0 auto;

     .header-parent{
          width: 100%;

          .header-top{
               width: 80%;
               margin: 0 auto;
               
          }
     }
}